@media(max-width: 550px){
    .toggle_menu{
        display: block;
        font-size: 3.0rem;
        color: white;
    
        margin-left: 7em;
    }
    .toggle_menu > img{
        background-color: white;
        color:azure;
    }
    .nav{
        justify-content: space-between;
        
    }

    /* .nav__menu-list{
        display: none;
        
    } */

    .nav__menu{
        width: auto;
        flex: 0;
        position: absolute;
        top: -90vh;
        left:50%;
        transform: translateX(-50%);
        /* display: none; */
    }

    .nav_open{
        padding: 6em 2em;
        background-color:  #18152A;;
        width: 100%;
        top: 6em;
        border-radius: .8em;
        

    }

    .nav_open>.nav__menu-list{
        flex-direction: column;
        margin-left: .5em;
    }

    .nav_open>.nav__menu-list > a:nth-child(1){
        
    }

    .nav_open>.nav__menu-list > li:nth-child(4)::before{
        position: absolute;
        top: -1em;
        content:"";
        width: 100%;
        left: 0;
        height: .3px;
        background-color: var(--white);
    }
    .nav_open>.nav__menu-list > a{
        width: 100%;
        text-align: center;
    }

    .nav_open>.nav__menu-list > a{
        font-size: 1.8rem;
        color: var(--white);
    }

    .grid-2, .grid-3, .grid-5, .search-box > .grid-2{
        grid-template-columns: fr;
    }
    .search-box > .grid-2{
        gap: .2em;
      
    }
    .grid-5{
        text-align: center;
    }

    
    
    
    .card{
        text-align: center;
    }

    .card:nth-child(2), .card:nth-child(3){
        margin-top: 3em;
    }


    .search-box{
        width: 90%;
        height: 12em;
        bottom: -6em ;
        background-image: url('../images/bg-shorten-mobile.svg');
        background-position:bottom right ;
    }

    .search-box > .grid a{
        display: block;
        width: 100%;
        text-align: center;
    }

    .hero .grid-2{
        text-align: center;
        gap: .4em;
        display: flex;
        flex-direction: column;
    
    }

    .hero__detail{
        grid-area: text;
        margin-bottom: 16em;
        
    }
    .card-wrapper .cart{
        display: n;
        margin-bottom: 4em;
        align-items:center ;
        justify-content: center;
        margin-right: 5em;
        height: 30vh;
        width: 45vw;

    }

    .card-wrapper .cart > img {
        display: hidden;
    }
.hero__detail > p{
    margin-left: 5em;
}

.card-wrapper > img{
    display: none;
}
    .hero__detail > {
        max-width: 100%;
        margin-bottom: 2em;
    }

    .hero_image{
        grid-area: picture;
    }
    .card-w

}

